# Temporary files
files

# demo-magic.sh script
demo-magic.sh

# Kubernetes kubeconfig file
kubeconfig.conf

# README.sh script
README.sh

# release-it configuration file
.release-it.yml

# nohup output
nohup.out

# Terraform files
.terraform
*.tfstate*
crash.log
*.tfvars
